# dev env stuff
.idea/
.vscode/
.vagrant/
*.log

# OSX
**/.DS_Store

# packaging/other things
eggs/
.eggs/
*.egg-info/
*.egg
.cache
**/dist/

# virtualenv
.venv
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# dont include the real config
config.toml
junk.json
certs/selfsigned.key