aiohttp==3.7.4.post0
beautifulsoup4==4.9.3
discord.py==1.7.3
isodate==0.6.0
loguru==0.5.3
lxml==4.6.3
numpy==1.21.3
pendulum==1.4.4
pydle==1.0.1
requests==2.26.0
scapy==2.4.5
toml==0.10.2
twine==3.4.2
tweepy==4.14.0